<div class="{{class}}">
    <span class="{{spanClass}}">{{label}}</span>
    <label>
        <input class="{{inputClass}}" type="{{inputType}}" name="{{inputName}}" placeholder="{{inputPlaceholder}}"/>
    </label>
</div>
