<div class="{{class}}">
    <span class="{{spanClass}}">{{label}}</span>

    <input class="{{inputClass}}" type="{{inputType}}" name="{{inputName}}" placeholder="{{inputPlaceholder}}"/>

    <span class="input-error">{{ error }}</span>
</div>
