<aside class="chats-list">
    {{{profileLink}}}

    {{{ search }}}

    {{{ addChat }}}

    <div class="chats">
        {{#if isLoaded }}
            {{#each chats}}
                {{{this}}}
            {{/each}}

        {{else}}
            Loading...
        {{/if}}
    </div>



    {{{ addChatPopup }}}
</aside>
