<div class="message">
    <div class="message-user">
        <div class="message_avatar"></div>
        <div class="message-name">
            {{ messageUser }}
        </div>
    </div>

    <div class="message_history">
        <div class="message_history-time">19 june</div>

            {{{ messageIn }}}

        <div class="message_history-time">19 june</div>

            {{{ messageOut }}}

    </div>

    <div class="message-input-wrapper">
        <a href="#">{{{ clip }}}</a>
        {{{ form }}}
    </div>
</div>
