<section class="profile-page">
    <div class="button-back">{{{ back }}}</div>
    <div class="profile-page__wrapper">
        <div class="profile">
            {{{ img }}}

            <div class="profile__wrapper">
                {{{ form }}}

                {{{ button }}}

            </div>
            <div class="profile-button">

            {{{ changeData }}}

            {{{ changePassword }}}

            {{{ exit }}}
            </div>
        </div>
    </div>
</section>
