<div class="messenger">
    <div class="header">
        {{{ menuButton }}}
    </div>

    <div class="menu-popup">
        {{{ addUserButton }}}

        {{{ deleteUserButton }}}
    </div>

    {{{ menuPopup }}}

    {{#if selectedChat }}
        <div class="messenger__messages">
            {{#each messages}}
                {{{this}}}
            {{/each}}
        </div>
        <div class="messenger__footer">
            {{{message_input}}}
            {{{button}}}
        </div>
    {{else}}
        Select chat
    {{/if}}

    {{{ addUserPopup }}}
    {{{ deleteUserPopup }}}
</div>
